**/target
**/*.rs.bk
*.fa*
*.sam
**/last
*.maf
*.dat
**/result
**/data
**/logfiles
**/pdf
**/png
**/pics
script/*.job
script/*.yml
script/sync_*
script/copy_*
.*
!.gitignore
venv
**__pycache__*
python/build
python/dist
*~
*.ipynb
